# ENV
.env
.env.*

# DEPENDENCIES
node_modules

# FRONTEND
client/dist
client/.vite

# BACKEND
server/dist

# LOGS
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# BUILD / MISC
dist
dist-ssr
*.local

# EDITOR / OS
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?